{% extends 'base.html.twig' %}

{% block customJavascript %}{% endblock %}
{% block body %}
    <body id="sunday-body">
    <div id="background"></div>
    {% block sundayHead %}
        <div class="ui fixed inverted main menu">
            <div class="container">
                <a id="menu-title" class="title item">
                    <img class="ui" src="{{ asset('img/icon/menu-title.png') }} " border="0" alt="Sunday" width="90" height="35">
                </a>

                {# {% block menuContent %}
                    {{ topMenu()|raw }}
                {% endblock menuContent %} #}
                {% block menuContent %}
                    <a class="item active">Features</a>
                    <a class="item">Testimonials</a>
                    <a class="item">Sign-in</a>
                {% endblock menuContent %}

                <div class="right menu">
                    {% block rightMenuContent %}
                        <div class="item">
                            <div class="ui icon input">
                                <input type="text" placeholder="Search..." id="search">
                                <i class="search link icon"></i>
                            </div>
                        </div>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="item">
                                <a class="ui inverted button" href="{{ path('post_create') }}">发帖</a>
                            </div>
                        {% endif %}
                    {% endblock rightMenuContent %}
                    {% if app.user %}
                            <div class="ui dropdown item">
                                <i class="user icon"></i>
                                {{ app.user.displayName }}
                                <div class="menu">
                                    <a class="item" href="{{ path('security_logout') }}">Logout</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="item">
                                <a href="{{ path('security_login') }}">Login</a>
                            </div>
                            <div class="item">
                                <a href="{{ path('security_register') }}">Register</a>
                            </div>
                        {% endif %}
                </div>

            </div>
        </div>
    {% endblock %}

    {{ block('wsSundayContent') }}

    {% block sundayfoot %}

    {% endblock %}
    </body>
{% endblock %}

{% block rightLayout %}
    <div class="right ui rail home robot">
        <div class="ui sticky">
            <div class="ui yellow message" id="right_message">
                <a class="ui right ribbon red label">第一个</a>
                <p>用户xxx向你发起了巫毒攻击，你正处在巫毒状态。你的发帖和回帖操作因此受到影响而延迟。</p>
                <a class="ui right ribbon teal label">天气预报</a>
                <p>天津滨海新区：晴，24-31℃</p>
                <a class="ui right ribbon green label">周杰伦是谁</a>
                <p>答案找到了<button class="ui yellow button">点击阅读</button></p>
                <a class="ui right ribbon red label">警告</a>
                <p>用户xxx向你发起了巫毒攻击，你正处在巫毒状态。你的发帖和回帖操作因此受到影响而延迟。</p>
            </div>
            {# {% block igorBody %}
                {{ parent() }}
            {% endblock %} #}
            {# {% block igorCommandInput %}
                {{ parent() }}
            {% endblock %} #}
        </div>
    </div>
{% endblock %}